.forms{
    display: flex;
    flex-flow: row-reverse;
}
.five{
    background-color: black;
}
.buttons{
    display: flex;
    flex-flow: row-reverse;
    margin-right: 5em;
}

.kvitters{
    width: 400px;
    list-style: none;
    position:absolute;
    bottom: 10px;
    left: 10px;
    max-width: 50%;
}


.title{
    position:absolute;
    margin-top: 10px;
    margin-left: 10px;

    font-size: 40px;
    font-weight: bold;
    color: indigo;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}


@media (max-width: 550px) {
    .forms {
        flex-flow: none;
        justify-content: center;
    }
    .buttons{
        flex-flow: none;
        justify-content: center;
        margin-right: 0em;
    }
    .title{
        position: relative;
        display: flex;
        justify-content: center;
        margin-left: 0em;
        background-color: indigo;
        color: white;
    }
  }

  @media (max-width: 900px) {
    .kvitters{
       display: none;
    }
  }