header {
    display: block;
    background: linear-gradient(
        to bottom,
        #6138d3,
        #3498db
      );
    padding: 20px;
    text-align: center;
  }

  h1 {
    color: white;
    font-family:'Courier New', Courier, monospace;
  }

 