<div class="form-container">
    @if (formToShow == 'login') {
    <form class="custom-form" (ngSubmit)="onSubmitLogin()" #loginForm="ngForm">
        <h1>Welcome back!</h1>
        <p>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" [(ngModel)]="userName" />
        </p>

        <p>
            <label for="login-password">Password</label>
            <input type="password" id="login-password" name="login-password" [(ngModel)]="password" />
        </p>

        <button type="submit">Sign in</button>

        <h6>(Enter with username: mario, password: itsame123)
            Not signed up yet?
            <a href="javascript:void(0)" class="register-link" (click)="navigateToRegister()">Register here!</a>
        </h6>
    </form>
    }


    @if (formToShow == 'register'){
    <form class="custom-form" (ngSubmit)="onSubmitRegister()">
        <h1>Register</h1>
        <p>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" [(ngModel)]="email" required />
        </p>

        <p>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" [(ngModel)]="userName" required />
        </p>

        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" (input)="checkPasswords()"
                required />
        </p>

        <p>
            <label for="re-enter-password">Re-enter Password</label>
            <input type="password" id="re-enter-password" name="reEnterPassword" [(ngModel)]="reEnterPassword"
                (input)="checkPasswords()" required />
        </p>

        <button type="submit" [disabled]="isMismatch">Register</button>
        <h6>
            Already have an account?
            <a href="javascript:void(0)" class="login-link" (click)="navigateToRegister()">Login here!</a>
        </h6>
    </form>
    }

</div>