<li class="container {{class}}">
    <div class="d-flex justify-content-between">
        <p class="username">{{kvitter.user.userName}}</p>
        <app-button *ngIf="showButtoncomponent == true" [buttonClass]="'style-small'" [buttonText]="'Remove'"
            (buttonEvent)="removeKvitter()" />
    </div>

    

    <div class="">
        <p class="message">{{kvitter.message}}</p>
    </div>

    <div class="d-flex justify-content-between">
        <ul class="hashtags">
            @for (hashtag of kvitter.hashtags; track hashtag.id) {
            <li><app-hashtag [hashtag]="hashtag" /> </li>
            }
        </ul>

        <div class="d-flex align-items-end">
            <p class="date">{{ kvitter.createdDateAndTime | date: 'HH:mm dd-MM-yy' }}</p>
            <div *ngIf="showPrivateMark && kvitter.private">
                <div class="private-mark">
                    P
                </div>
            </div>
        </div>

    </div>
</li>