.container {
  width: 100%;
  border: 1px solid indigo;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  /* background-color: white; */
}

/* .upvote-btn{
  font-size: 20px;
  border: 1px solid indigo;
  background: none;
  cursor: pointer;
} */

.upvote-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.upvote-btn i {
  font-size: 24px;
  color: rebeccapurple;
  text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.upvote-btn.filled{
  color: indigo;
}

.username {
  font-weight: bold;
  color: white;  
  text-decoration: none; 
  cursor: pointer; 
}

.reply-input{
  height: 30px;
  flex-grow: 1;
  flex-shrink: 1; 
  min-width: 0;
  width: 0;  
  border-color: indigo;
  border-radius: 5px;
}

.private-mark {
  width: 16px;     
  height: 16px;
  background-color: indigo; 
  border-radius: 50%;    
  display: flex;
  margin-left: 5px;
  justify-content: center;
  align-items: center;
  font-size: 10px;       
  font-weight: bold;
  color: white;       
  text-align: center;
  line-height: 16px;
  font-family: Arial, sans-serif;
}

.message {
  font-style: italic;
  font-size: medium;
  max-width: 100%;
  white-space: normal;
  word-wrap: break-word;
  color: white;  
}

.hashtags {
  list-style: none;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0px;
  padding: 0px;
  width: auto;
  height: 30px;
}

.date {
  margin: 0px;
  padding: 0px;
  color: white;
  font-size: 14px;
  white-space: nowrap;
}

.transparent {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
