.list-container {
    list-style: none;
    width: 100%;
}

.container {
    border: 1px solid #cccccc;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%; 
}

.username {
    font-weight: bold;
}

.message {
    font-style: italic;
    font-size: medium;
    max-width: 100%;  
    white-space: normal;
    word-wrap: break-word; 
}

.hashtags {
    list-style: none;
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
    width: auto;      
}

.hashtags li {
    background: rebeccapurple;
    color: white;
    padding: 3px 3px;
    border-radius: 5px;
}

.date {
    text-align: right;
    color: black;
    font-size: 14px;
    white-space: nowrap; 
}

.transparent{
    background-color: rgba(0, 0, 0, 0.5);
    
}


