<div class="container {{class}}">
    <div class="d-flex justify-content-between w-100">
        <a href="javascript:void(0)" class="username" (click)="navigateToUserInfo()">{{ kvitter.user.userName }}</a>
        @if (showButtonBar) {
        <div class="d-flex justify-content-end">
            @if (showReplyButton) {
                <app-button [buttonClass]="'style-small'" [hoverText]="'Reply'"
                (buttonEvent)="showReplyBar()"><i class="bi bi-reply fs-6"></i></app-button>
            }
            @if (showRemoveButton) {
                <app-button [buttonClass]="'style-small'" [hoverText]="'Remove'"
                (buttonEvent)="removeKvitter()"><i class="bi bi-x-square fs-6"></i> </app-button>
            }
            @if (showRekvittButton) {
                <app-button [buttonClass]="'style-small'" [hoverText]="'Rekvitt'"
                (buttonEvent)="rekvitt()"><i class="bi bi-repeat fs-6"></i> </app-button>
            }
            @if (showFollowButton) {
                <app-button [buttonClass]="'style-small'" [hoverText]="'Follow'"
                (buttonEvent)="followUser()"> <i class="bi bi-person-add fs-6"></i> </app-button>
            }
            @if (showUnFollowButton) {
                <app-button [buttonClass]="'style-small'" [hoverText]="'Unfollow'"
                (buttonEvent)="unFollowUser()"> <i class="bi bi-person-fill-dash fs-6"></i> </app-button>
            }
        </div>
        }
    </div>


    <div class="">
        <p class="message">{{kvitter.message}}</p>
    </div>

    <div class="d-flex justify-content-between">
        @if (showHashtags) {
        <ul class="hashtags">
            @for (hashtag of kvitter.hashtags; track hashtag.id) {
            <li><app-hashtag [hashtag]="hashtag" /> </li>
            }
        </ul>
        }
        <div class="d-flex align-items-end">
            @if (showUpvoteButton) {
            <h6>{{likeCount}}</h6>
            <button (click)="upvote()" class="upvote-btn" [class.filled]="isUpvoted">
                <i class="bi" [ngClass]="isUpvoted ? 'bi-hand-thumbs-up-fill' : 'bi-hand-thumbs-up'"></i>
            </button>
            }

            <p class="date">{{ kvitter.createdDateAndTime | date: 'HH:mm dd-MM-yy' }}</p>
            @if (showPrivateMark && kvitter.isPrivate) {
            <div class="private-mark">
                P
            </div>
            }
        </div>

    </div>
    @if (showReplyBarContent) {
    <div class="d-flex justify-content-between align-items-center w-100">
        <input type="text" id="reply" name="reply" placeholder="Reply" class="reply-input" [(ngModel)]="reply">
        <app-button [buttonClass]="'style-small'" [hoverText]="'Send'" (buttonEvent)="sendReply()"><i
                class="bi bi-send-fill"></i></app-button>
    </div>
    }

    @if (showReplies) {
    <div class="reply-div">
        @for (reply of kvitter.replies; track reply.id){
        <li>
            <app-reply [class]="'transparent'" [reply]="reply" />
        </li>
        }
    </div>
    }

</div>