.content{
    width: 500px;
    margin-top: 80px;
}

h1, h6{
    color: white;
    text-align: center;
}

.btn{
    width: 600px;
}

@media (max-width: 550px) {
    .content {
      width: auto;
    }
}