<div>
    <ul class="list-container">
        @for (kvitter of kvitters(); track kvitter.id) {
            <li>
                <p>{{kvitter.miniUserDTO.firstName}} {{kvitter.miniUserDTO.lastName}}</p>
                <p>{{kvitter.message}}</p>
                <ul class="list-container">
                    @for (hashtag of kvitter.hashtags; track hashtag.id) {
                        <li>
                            <p>{{hashtag.hashtag}}</p>
                        </li>
                    }
                </ul>
                <p>{{kvitter.createdDateAndTime}}</p>
            </li>
        }
    </ul>
</div>
