
    
    <form (ngSubmit)="kvitt()" #kvittForm="ngForm">
        <div class="row  text-area">
            <label class="enter-label" for="kvitter">Enter your kvitter:</label><br>
            <textarea id="kvitter" name="kvitter" placeholder="Type your kvitter here..."
                [(ngModel)]="message" maxlength="280" required #kvitter="ngModel"></textarea>
            <p class="kvitter-size" >{{ message.length }} / 280</p>
        </div>
        
        <div class="row ">
            
            <div class="col-8">
                <label for="hashtags">Hashtags</label>
                <input type="text" id="hashtags" name="hashtags" placeholder="#" [(ngModel)]="hashtags" maxlength="20">
            </div>
            
            <div class="col-4 button-div">
                <button type="submit" class="" [disabled]="kvittForm.invalid">Kvitt!</button>
            </div>
            
        </div>
    </form>
