.content{
    width: 500px;
}
h1{
    color: white;
    text-align: center;
}

@media (max-width: 550px) {
    .content{
        width: auto;
        
    }
  }


  @media (max-width: 768px) {
    .content{

        margin-top: 60px;
    }
  }