<div>
    <li class="container">

        <div class="row">
            <p class="username">{{username}}</p>
        </div>

        <div class="row">
            <p class="message">{{message}}</p>
        </div>

        <div class="row">
            <ul class="hashtags">
                @for (hashtag of hashtags; track hashtag.id) {
                <li><app-hashtag [hashtag]="hashtag.hashtag" /> </li>
                }
            </ul>
        </div>
        <div class="row">
            <p class="date">{{ createdDateAndTime | date: 'HH:mm dd-MM-yy' }}</p>
        </div>

    </li>
</div>