<div>
    <form  class="custom-form" (ngSubmit)="onSubmitRegister()">
        <p>
            <label for="email">Email</label>
            <input type="text" id="email" name="email" [(ngModel)]="email" />
        </p>
        <p>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" [(ngModel)]="userName" />
        </p>

        <p>
            <label for="password">Password</label>
            <input type="text" id="password" name="password" [(ngModel)]="password" />
        </p>
        <button type="submit">Register</button>
    </form>
</div>

