.forms{
    display: flex;
    flex-flow: row-reverse;
}
.buttons{
    display: flex;
    flex-flow: row-reverse;
    margin-right: 5em;
}

.kvitters{
    width: 400px;
    list-style: none;
    position:absolute;
    bottom: 10px;
    left: 10px;
    max-width: 50%;
}


@media (max-width: 550px) {
    .forms {
        flex-flow: none;
        justify-content: center;
    }
    .buttons{
        flex-flow: none;
        justify-content: center;
        margin-right: 0em;
    }
  }

  @media (max-width: 900px) {
    .kvitters{
       display: none;
    }
  }