<div class="buttons">
    <app-button (buttonEvent)="showForm('register')"><i class=""></i>Register</app-button>
    <app-button (buttonEvent)="showForm('login')"><i class=""></i>Login</app-button>
</div>

<!-- <div class="forms">
    <app-login-register-form [formToShow]="formToShow" (onSubmitLoginEvent)="onLogin($event)"
        (navigateToRegisterEvent)="showForm($event)" />
</div> -->

<div class="forms">
    <app-login-register-form [formToShow]="formToShow"
        (navigateToRegisterEvent)="showForm($event)" />
</div>

<div class="kvitters">
    @if (currentKvitter) {
        <app-kvitter  [class]="'transparent'" [showPrivateMark]="false" [kvitter]="currentKvitter"
        [showButtonBar]="false" [showReplies]="false" [showUpvoteButton]="false" />
    }
</div>