<div class="backdrop" (click)="onCancel()"></div>
<dialog open>
    <form (ngSubmit)="search()" #searchForm="ngForm">
            <div class="d-flex justify-content-between">
            <select name="category" [(ngModel)]="category" required>
                <option value="" disabled selected>Choose category</option>
                <option value="user">User</option>
                <option value="message">Message</option>
                <option value="hashtag">Hashtag</option>
            </select>
            <input type="text" name="searchWord" [(ngModel)]="searchWord" placeholder="Search word" required />
            <button type="submit" [disabled]="searchForm.invalid">Search <i class="bi bi-search"></i></button>
        </div>
        </form>
</dialog>