@if (isAddingKvitter) {
<app-add-kvitter (close)="onCloseAddKvitter()"></app-add-kvitter>
}

<div class="container content">

    <div class="d-flex justify-content-end">

      
      @if (!isAddingKvitter) {
          <div class="dropdown">
                <button class="dropdown-toggle" (click)="toggleDropdown()">
                  @if (!isSmallScreen) {
                    {{ selectedOption || 'Select an option' }}
                  }
                </button>
              
                @if (isOpen) {
                  <ul class="dropdown-menu">
                    @for (option of options; track option) {
                      <li (click)="selectOption(option)">
                        {{ option }}
                      </li>
                    }
                  </ul>
                }
          </div>
      }


        <div class="row add-kvitter">
            @if (!isAddingKvitter) {
            <app-button [hoverText]="'Add Kvitter'" class="add-btn" (buttonEvent)="onAddingKvitter()">
                @if (isSmallScreen) {
                    <i class="bi bi-signpost"></i>
                }@else{
                    Add Kvitter
                }
            </app-button>
            }
          </div>

    </div>

    <div class="row kvitter-list">
        <app-kvitter-list />
    </div>

</div>